{% load static %}
<html>
<head>
<title>DMS</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Facility Type");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Size");
	formObj.t2.focus();
	return false;
	}
	
	if(formObj.t3.value.length==0)
	{
	alert("Please Enter Street");
	formObj.t3.focus();
	return false;
	}
	if(formObj.t4.value.length==0)
	{
	alert("Please Enter city");
	formObj.t4.focus();
	return false;
	}
	
	if(formObj.t5.value.length==0)
	{
	alert("Please Enter state");
	formObj.t5.focus();
	return false;
	}
	if(formObj.t6.value.length==0)
	{
	alert("Please Enter zip");
	formObj.t6.focus();
	return false;
	}
	if(formObj.t7.value.length==0)
	{
	alert("Please enter Office count");
	formObj.t7.focus();
	return false;
	}
	if(formObj.t8.value.length==0)
	{
	alert("Please Enter Room count");
	formObj.t8.focus();
	return false;
	}
	if(formObj.t9.value.length==0)
	{
	alert("Please Enter pcode");
	formObj.t9.focus();
	return false;
	}
	if(formObj.t10.value.length==0)
	{
	alert("Please Enter Description");
	formObj.t10.focus();
	return false;
	}
	return true;
	}
	</script>
	
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Online Data Management System</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
        <ul>      
      <li><a href="{% url 'AddMedicalFacility' %}">Add Medical Facilities</a></li>
	   <li><a href="{% url 'AddEmployees' %}">Add Employees</a></li>	   
	   <li><a href="{% url 'AddInsurance' %}">Add Insurance</a></li>	
	    <li><a href="{% url 'ViewEmployeeManage' %}">View Details</a></li>
      <li><a href="{% url 'Back' %}">Back</a></li>
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'AddMedicalFacilityAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Add Medical Facility Offices Screen</b></h2>
   
	<font size="" color="red"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color="black">Facility&nbsp;Type</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30"></td></tr>
         
		  <tr><td><font size='' color="black">Size</b></td><td><input name="t2" type="text" size="15"></td></tr>

			<tr><td><font size='' color="black">Street</b></td>
			<td><input name="t3" type="Text" size="40"></td></td></tr>

		    <tr><td><font size='' color="black">City</b></td><td><input name="t4" type="Text" size="40"></td></td></tr>

		   <tr><td><font size='' color="black">State</b></td><td><input type="text" name="t5" style="font-family: Comic Sans MS" size="40"/></td></tr>

          <tr><td><font size='' color="black">Zip&nbsp;Code</b></td><td><input name="t6" type="Text" size="15"></td></td></tr>

		   <tr><td><font size='' color="black">Office&nbsp;Count</b></td><td><input name="t7" type="Text" size="15"></td></td></tr>

		    <tr><td><font size='' color="black">Room&nbsp;Count</b></td><td><input name="t8" type="Text" size="15"></td></td></tr>

			 <tr><td><font size='' color="black">PCode</b></td><td><input name="t9" type="Text" size="15"></td></td></tr>

		   <tr><td><font size='' color="black">Description</b></td><td><input name="t10" type="Text" size="60"></td></td></tr>

			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>