{% load static %}
<html>
<head>
<title>DMS</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t4.value.length==0)
	{
	alert("Please Choose Appointment Date");
	formObj.t4.focus();
	return false;
	}
	return true;
	}
	</script>
	<script language="javascript" type="text/javascript" src="{% static 'datetimepicker.js' %}">
</script>	
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Online Data Management System</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
       <ul>      
      <li><a href="{% url 'CreatePatient' %}">Create New Patients</a></li>
	  <li><a href="{% url 'Appointment' %}">Create Appointments</a></li>	 
	  <li><a href="{% url 'UpdatePayment' %}">Update Payment</a></li>	 
	  <li><a href="{% url 'InsuranceInvoice' %}">Daily Invoices</a></li>	
	  <li><a href="{% url 'Back' %}">Back</a></li>
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'AppointmentAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Make Appointment Screen</b></h2>
   
	<font size="" color="red"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="30%" >
			 		   {{ data1|safe }}

					   <tr><Td><font size="3" color="black">Appointment&nbsp;Date</td><td>
<input name="t4" type="Text" id="demo1" maxlength="25" size="20" class="c2" ><a href="javascript:NewCal('demo1','ddmmyyyy',false,24)"><img src="{% static 'cal.gif' %}" width="16" height="16" border="0" alt="Pick a date"></a>
	  		<span class="descriptions"></span>
</td></tr>	

			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>